In [93]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [30]:
#drop columns
charity_df= charity_df.drop(columns=['NAME', 'CLASSIFICATION', 'STATUS', 'SPECIAL_CONSIDERATIONS'])

In [31]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

In [32]:
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE    17
AFFILIATION          6
USE_CASE             5
ORGANIZATION         4
INCOME_AMT           9
dtype: int64

In [25]:
charity_df['IS_SUCCESSFUL'].nunique()

2

In [34]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,EIN,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,10520599,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10531628,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10547893,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10553066,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10556103,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [43]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [44]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [118]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 12
hidden_nodes_layer2 = 10
hidden_nodes_layer3 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_24"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_87 (Dense)             (None, 12)                528
_________________________________________________________________
dense_88 (Dense)             (None, 10)                130
_________________________________________________________________
dense_89 (Dense)             (None, 8)                 88
_________________________________________________________________
dense_90 (Dense)             (None, 1)                 9
=================================================================
Total params: 755
Trainable params: 755
Non-trainable params: 0
_________________________________________________________________

In [119]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [120]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5303
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5325

In [121]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6909 - accuracy: 0.5339
Loss: 0.6909119486808777, Accuracy: 0.5338775515556335

In [122]:
#Using logisitc regression model instead of neural network 

# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.534